@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer components {
  .body {
    @apply w-screen h-screen flex 
  }

  .button {
    @apply uppercase outline-none hover:text-xl w-32 p-2 rounded-md border-0 text-white text-sm cursor-pointer
  }

  .buttonHomes {
    @apply uppercase outline-none w-32 flex justify-center items-center p-2 text-azul text-4xl cursor-pointer
  }

  .main {
    @apply w-screen h-full bg-[url('/happy.avif')] bg-no-repeat bg-cover;
  }

  
}
